---
http_interactions:
- request:
    method: post
    uri: https://www.notion.so/api/v3/getBacklinksForBlock
    body:
      encoding: UTF-8
      string: '{"blockId":"d0bc03ce-e9c0-467e-8bba-e9814399c423"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-User-Id:
      - e5b8637d-32a4-4597-8492-652c46372480
      Etag:
      - W/"10e4-8Z18kzWVk05rN1isE+b+hy5+6uc"
    body:
      encoding: UTF-8
      string: '{"backlinks":[],"inaccessibleBacklinkCount":0,"recordMap":{"block":{"d0bc03ce-e9c0-467e-8bba-e9814399c423":{"role":"editor","value":{"id":"d0bc03ce-e9c0-467e-8bba-e9814399c423","version":41,"type":"page","properties":{"title":[["Test
        subsubpage"]]},"content":["b6b55522-7c8f-4570-9bd6-d4d467cc269d"],"created_time":1620968040000,"last_edited_time":1621816980000,"parent_id":"0ecc4427-3c80-4b97-9e70-9f35ac4c5405","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"0ecc4427-3c80-4b97-9e70-9f35ac4c5405":{"role":"editor","value":{"id":"0ecc4427-3c80-4b97-9e70-9f35ac4c5405","version":53,"type":"page","properties":{"title":[["Test
        subpage"]]},"content":["2644cda5-4619-4aed-9959-da51754a758b","227fd83a-546c-48f2-abde-14a08c43faae","d0bc03ce-e9c0-467e-8bba-e9814399c423"],"permissions":[{"role":"editor","type":"user_permission","user_id":"e5b8637d-32a4-4597-8492-652c46372480"}],"created_time":1621809900000,"last_edited_time":1621816980000,"parent_id":"722ba1ef-e17a-4175-90c6-dd123ddf11d4","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"722ba1ef-e17a-4175-90c6-dd123ddf11d4":{"role":"editor","value":{"id":"722[...]
