---
http_interactions:
- request:
    method: post
    uri: https://www.notion.so/api/v3/queryCollection
    body:
      encoding: UTF-8
      string: '{"collectionId":"b12633f5-5288-4fd6-b7c9-e726780fa287","collectionViewId":"80482a7b-195b-4665-82f1-0a7825e77476","query":{},"loader":{"type":"reducer","reducers":{"collection_group_results":{"type":"results","limit":50}},"searchQuery":"","userTimeZone":"America/Denver"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com
        https://js.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://public.profitwell.com js.sentry-cdn.com https://platform.twitter.com
        https://cdn.syndication.twimg.com https://www.googletagmanager.com https://x.clearbitjs.com;
        connect-src ''self'' https://msgstore.www.notion.so wss://msgstore.www.notion.so
        ws://localhost:* https://notion-emojis.s3-us-west-2.amazonaws.com https://s3-us-west-2.amazonaws.com
        https://s3.us-west-2.amazonaws.com https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
        https: http: https://api.amplitude.com https://api.embed.ly https://js.intercomcdn.com
        https://api-iam.intercom.io wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
        https://api.segment.io https://api.pgncs.notion.so https://o324374.ingest.sentry.io
        https://checkout.stripe.com https://js.stripe.com https://cdn.contentful.com
        https://preview.contentful.com https://images.ctfassets.net https://www2.profitwell.com
        https://api.unsplash.com https://boards-api.greenhouse.io; font-src ''self''
        data: https://cdnjs.cloudflare.com https://js.intercomcdn.com; img-src ''self''
        data: blob: https: https://platform.twitter.com https://syndication.twitter.com
        https://pbs.twimg.com https://ton.twimg.com www.googletagmanager.com; style-src
        ''self'' ''unsafe-inline'' https://cdnjs.cloudflare.com https://github.githubassets.com
        https://platform.twitter.com https://ton.twimg.com; frame-src https: http:;
        media-src https: http:'
      X-Webkit-Csp:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://analytics.pgncs.notion.so https://o324374.ingest.sentry.io https://checkout.stripe.com
        https://js.stripe.com https://embed.typeform.com https://admin.typeform.com
        https://public.profitwell.com js.sentry-cdn.co[...]
