---
http_interactions:
- request:
    method: post
    uri: https://www.notion.so/api/v3/loadPageChunk
    body:
      encoding: UTF-8
      string: '{"pageId":"f124cfbb-fcc5-4129-9bc2-fdad0b135fe1","limit":30,"cursor":{"stack":[]},"chunkNumber":0,"verticalColumns":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-User-Id:
      - e5b8637d-32a4-4597-8492-652c46372480
      Etag:
      - W/"b3e-znA8GvUACSSggWW3/N1zlopfRpY"
    body:
      encoding: UTF-8
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"f124cfbb-fcc5-4129-9bc2-fdad0b135fe1":{"role":"editor","value":{"id":"f124cfbb-fcc5-4129-9bc2-fdad0b135fe1","version":19,"type":"collection_view_page","view_ids":["5a900c7f-a495-4a29-b403-c8ae0356bcaa"],"collection_id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","format":{"collection_pointer":{"id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","table":"collection","spaceId":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"e5b8637d-32a4-4597-8492-652c46372480"}],"created_time":1621810133775,"last_edited_time":1622006040000,"parent_id":"9292b46f-54ab-41db-b39d-17436d8f8f14","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}}},"space":{"9292b46f-54ab-41db-b39d-17436d8f8f14":{"role":"editor","value":{"id":"9292b46f-54ab-41db-b39d-17436d8f8f14","version":45,"name":"Test
        Notion for notion-capture","permissions":[{"role":"editor","type":"user_permission","user_id":"e5b8637d-32a4-4597-8492-652c46372480"}],"beta_enabled":false,"pages":["722ba1ef-e17a-4175-90c6-dd123ddf11d4","f124cfbb-fcc5-4129-9bc2-fdad0b135fe1"],"created_time":1620017165450,"last_edited_time":1628899200000,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","plan_type":"personal","invite_link_enabled":true,"subscription_tier":"free"}}},"collection_view":{"5a900c7f-a495-4a29-b403-c8ae0356bcaa":{"role":"editor","value":{"id":"5a900c7f-a495-4a29-b403-c8ae0356bcaa","version":4,"type":"table","name":"Default
        view","format":{"table_wrap":true,"table_properties":[{"width":276,"visible":true,"property":"title"},{"width":234,"visible":true,"property":"{jh?"},{"width":200,"visible":true,"property":"VXY@"}]},"parent_id":"f124cfbb-fcc5-4129-9bc2-fdad0b135fe1","parent_table":"block","alive":true,"page_sort":["3f98ce74-3f5d-42bd-aebd-7483b04e2a55","f4dd3fd6-e2d9-4522-841d-687c9097437e","e703d132-1f20-4a0c-8959-b4077dd27acb","9254fbf6-9b7d-4772-97f9-60505d75a464"],"query2":{"aggregations":[{"property":"title","aggregator":"count"}]},"space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}}},"collection":{"516b47c8-a1ab-48a0-a17b-1dafd3e06009":{"role":"editor","value":{"id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","version":46,"name":[["Test
        collection view page"]],"schema":{"VXY@":{"name":"Date joined","type":"date"},"{jh?":{"name":"Email","type":"email"},"title":{"name":"Username","type":"title"}},"parent_id":"f124cfbb-fcc5-4129-9bc2-fdad0b135fe1","parent_table":"block","alive":true,"migrated":true,"space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}}}}}'
  recorded_at: Fri, 17 Mar 2023 05:25:19 GMT
- request:
    method: post
    uri: https://www.notion.so/api/v3/getBacklinksForBlock
    body:
      encoding: UTF-8
      string: '{"block":{"id":"f124cfbb-fcc5-4129-9bc2-fdad0b135fe1"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-User-Id:
      - e5b8637d-32a4-4597-8492-652c46372480
      Etag:
      - W/"694-xYAlwaF3YzN/gktMssxBvKx61HM"
    body:
      encoding: UTF-8
      string: '{"backlinks":[],"inaccessibleBacklinkCount":0,"recordMap":{"block":{"f124cfbb-fcc5-4129-9bc2-fdad0b135fe1":{"role":"editor","value":{"id":"f124cfbb-fcc5-4129-9bc2-fdad0b135fe1","version":19,"type":"collection_view_page","view_ids":["5a900c7f-a495-4a29-b403-c8ae0356bcaa"],"collection_id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","format":{"collection_pointer":{"id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","table":"collection","spaceId":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"e[...]
- request:
    method: post
    uri: https://www.notion.so/api/v3/queryCollection
    body:
      encoding: UTF-8
      string: '{"collectionId":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","collectionViewId":"5a900c7f-a495-4a29-b403-c8ae0356bcaa","query":{},"loader":{"type":"reducer","reducers":{"collection_group_results":{"type":"results","limit":50}},"searchQuery":"","userTimeZone":"America/Denver"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-User-Id:
      - e5b8637d-32a4-4597-8492-652c46372480
    body:
      encoding: UTF-8
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["3f98ce74-3f5d-42bd-aebd-7483b04e2a55","f4dd3fd6-e2d9-4522-841d-687c9097437e","e703d132-1f20-4a0c-8959-b4077dd27acb","9254fbf6-9b7d-4772-97f9-60505d75a464"],"hasMore":false}},"sizeHint":4},"collectionIds":["516b47c8-a1ab-48a0-a17b-1dafd3e06009"],"recordMap":{"block":{"3f98ce74-3f5d-42bd-aebd-7483b04e2a55":{"role":"editor","value":{"id":"3f98ce74-3f5d-42bd-aebd-7483b04e2a55","version":53,"type":"page","properties":{"VXY@":[["‣",[["d",{"type":"date","start_date":"2021-05-11"}]]]],"{jh?":[["bigkittylitter@gmail.com",[["a","bigkittylitter@gmail.com"]]]],"title":[["bigkittylitter"]]},"content":["730ea086-d3b8-40e8-ae61-e1a3caf8a061"],"created_time":1621810133775,"last_edited_time":1628899140000,"parent_id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"f4dd3fd6-e2d9-4522-841d-687c9097437e":{"role":"editor","value":{"id":"f4dd3fd6-e2d9-4522-841d-687c9097437e","version":45,"type":"page","properties":{"VXY@":[["‣",[["d",{"type":"date","start_date":"2021-05-08"}]]]],"{jh?":[["applesauceman@yahoo.com",[["a","applesauceman@yahoo.com"]]]],"title":[["applesauceman"]]},"created_time":1621810133775,"last_edited_time":1621810200000,"parent_id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"e703d132-1f20-4a0c-8959-b4077dd27acb":{"role":"editor","value":{"id":"e703d132-1f20-4a0c-8959-b4077dd27acb","version":61,"type":"page","properties":{"VXY@":[["‣",[["d",{"type":"date","start_date":"2021-03-10"}]]]],"{jh?":[["jonesin4forsox@juno.com",[["a","jonesin4forsox@juno.com"]]]],"title":[["jonesin4sox"]]},"content":["4233bc2d-1202-4e77-a500-c0d6fc3eb1b4"],"created_time":1621810133775,"last_edited_time":1628899140000,"parent_id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","parent_table":"collection","alive":true,"created_by_table":"n[...]
[...]
