---
http_interactions:
- request:
    method: post
    uri: https://www.notion.so/api/v3/getSpaces
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17e9-DUvGs5l6aIAUqju8SKLJoxbS0UA"
    body:
      encoding: UTF-8
      string: '{"e5b8637d-32a4-4597-8492-652c46372480":{"notion_user":{"e5b8637d-32a4-4597-8492-652c46372480":{"role":"editor","value":{"id":"e5b8637d-32a4-4597-8492-652c46372480","version":4,"email":"elliot.winkler+notion-capture@gmail.com","given_name":"Elliot","family_name":"Winkler","onboarding_completed":true,"name":"Elliot
        Winkler"}}},"user_root":{"e5b8637d-32a4-4597-8492-652c46372480":{"role":"editor","value":{"id":"e5b8637d-32a4-4597-8492-652c46372480","version":3,"space_views":["b83a41ee-4a51-4784-aad8-a2ff0ae16163"],"space_view_pointers":[{"id":"b83a41ee-4a51-4784-aad8-a2ff0ae16163","table":"space_view","spaceId":"9292b46f-54ab-41db-b39d-17436d8f8f14"}]}}},"user_settings":{"e5b8637d-32a4-4597-8492-652c46372480":{"role":"editor","value":{"id":"e5b8637d-32a4-4597-8492-652c46372480","version":6,"settings":{"type":"personal","locale":"en-US","persona":"unfilled","team_role":"unfilled","time_zone":"America/Denver","signup_time":1620017141138,"preferred_locale":"en-US","used_desktop_web_app":true,"preferred_locale_origin":"legacy"}}}},"space_view":{"b83a41ee-4a51-4784-aad8-a2ff0ae16163":{"role":"editor","value":{"id":"b83a41ee-4a51-4784-aad8-a2ff0ae16163","version":13,"space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14","parent_id":"e5b8637d-32a4-4597-8492-652c46372480","parent_table":"user_root","alive":true,"notify_mobile":true,"notify_desktop":true,"notify_email":true,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"joined":true}}},"space":{"9292b46f-54ab-41db-b39d-17436d8f8f14":{"role":"editor","value":{"id":"9292b46f-54ab-41db-b39d-17436d8f8f14","version":45,"name":"Test
        Notion for notion-capture","permissions":[{"role":"editor","type":"user_permission","user_id":"e5b8637d-32a4-4597-8492-652c46372480"}],"beta_enabled":false,"pages":["722ba1ef-e17a-4175-90c6-dd123ddf11d4","f124cfbb-fcc5-4129-9bc2-fdad0b135fe1"],"created_time":1620017165450,"last_edited_time":1628899200000,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","plan_type":"personal","invite_link_enabled":true,"subscription_tier":"free"}}},"block":{"f124cfbb-fcc5-4129-9bc2-fdad0b135fe1":{"role":"editor","value":{"id":"f124cfbb-fcc5-4129-9bc2-fdad0b135fe1","version":19,"type":"collection_view_page","view_ids":["5a900c7f-a495-4a29-b403-c8ae0356bcaa"],"collection_id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","format":{"collection_pointer":{"id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","table":"collection","spaceId":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"e5b8637d-32a4-4597-8492-652c46372480"}],"created_time":1621810133775,"last_edited_time":1622006040000,"parent_id":"9292b46f-54ab-41db-b39d-17436d8f8f14","parent_table":"space","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"722ba1ef-e17a-4175-90c6-dd123ddf11d4":{"role":"editor","value":{"id":"722ba1ef-e17a-4175-90c6-dd123ddf11d4","version":66,"type":"page","properties":{"title":[["Test
        page"]]},"content":["483d525b-cba6-4bdb-8186-01c4d6e00bee","7ff62e3e-9299-4909-b970-6934358d75f6","5b90ba9c-a3a0-40fe-888e-2b959b93ec27","77dfebcc-38c4-47dd-854a-e2e97689e267","0a3f2184-3980-4439-b60c-f666af3eefed","1036c7b3-9df5-4023-8024-813b263d3666","2806e26b-a025-4edd-a011-60d80a66124e","77eafb0f-5099-4426-abfb-9d793f8fdfbc","ab149808-a0ac-47f6-a5f8-721c7337d60d","8b69445d-7391-4b1d-ad7c-efa58ec8dce4","6e9fff9e-1888-4e1f-a4ba-eda709143bd5","af89b008-da3c-4813-bdaf-b45cab2f056e","f1e8cb34-b658-49e4-92ba-e6e442[...]
