---
http_interactions:
- request:
    method: post
    uri: https://www.notion.so/api/v3/queryCollection
    body:
      encoding: UTF-8
      string: '{"collectionId":"b12633f5-5288-4fd6-b7c9-e726780fa287","collectionViewId":"ce55eba9-ab50-4f33-ac0d-df6ba7132973","query":{},"loader":{"type":"reducer","reducers":{"collection_group_results":{"type":"results","limit":50}},"searchQuery":"","userTimeZone":"America/Denver"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-User-Id:
      - e5b8637d-32a4-4597-8492-652c46372480
    body:
      encoding: UTF-8
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["9211601a-9016-484a-8313-f54a459a5a2a","42c4bd06-12ee-4808-9624-1e7e9e7f3a5f","2ec32fd1-d30a-4ae9-a79c-d4cc6aa0266a"],"hasMore":false}},"sizeHint":3},"collectionIds":["b12633f5-5288-4fd6-b7c9-e726780fa287"],"recordMap":{"block":{"9211601a-9016-484a-8313-f54a459a5a2a":{"role":"editor","value":{"id":"9211601a-9016-484a-8313-f54a459a5a2a","version":34,"type":"page","properties":{"JcMG":[["http://steve.com",[["a","http://steve.com"]]]],"_WKf":[["23"]],"title":[["Steve"]]},"created_time":1621809983877,"last_edited_time":1621810020000,"parent_id":"b12633f5-5288-4fd6-b7c9-e726780fa287","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"42c4bd06-12ee-4808-9624-1e7e9e7f3a5f":{"role":"editor","value":{"id":"42c4bd06-12ee-4808-9624-1e7e9e7f3a5f","version":49,"type":"page","properties":{"JcMG":[["http://sally.com",[["a","http://sally.com"]]]],"_WKf":[["57"]],"title":[["Sally"]]},"created_time":1621809983877,"last_edited_time":1621810020000,"parent_id":"b12633f5-5288-4fd6-b7c9-e726780fa287","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"2ec32fd1-d30a-4ae9-a79c-d4cc6aa0266a":{"role":"editor","value":{"id":"2ec32fd1-d30a-4ae9-a79c-d4cc6aa0266a","version":30,"type":"page","properties":{"JcMG":[["http://joe.com",[["a","http://joe.com"]]]],"_WKf":[["12"]],"title":[["Joe"]]},"created_time":1621809983877,"last_edited_time":1621810020000,"parent_id":"b12633f5-5288-4fd6-b7c9-e726780fa287","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"227fd83a-546c-48f2-abde-14a08c43faae":{"role":"editor","value":{"id":"227fd83a-546c-48f2-abde-14a08c43faae","version":17,"type":"collection_view","view_ids":["ce55eba9-ab50-4f33-ac0d-df6ba7132973","80482a7b-195b-4665-82f1-0a7825e77476"],"collection_id":"b12633f5-5288-4fd6-b7c9-e726780fa287","format":{"collection_pointer":{"id":"b12633f5-5288-4fd6-b7c9-e726780fa287","table":"collection","spaceId":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"created_time":1621809983877,"last_edited_time":1621831680000,"parent_id":"0ecc4427-3c80-4b97-9e70-9f35ac4c5405","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"0ecc4427-3c80-4b97-9e70-9f35ac4c5405":{"role":"editor","value":{"id":"0ecc4427-3c80-4b97-9e70-9f35ac4c5405","version":53,"type":"page","properties":{"title":[["Test
        subpage"]]},"content":["2644cda5-4619-4aed-9959-da51754a758b","227fd83a-546c-48f2-abde-14a08c43faae","d0bc03ce-e9c0-467e-8bba-e9814399c423"],"permissions":[{"role":"editor","type":"user_permission","user_id":"e5b8637d-32a4-4597-8492-652c46372480"}],"created_time":1621809900000,"last_edited_time":1621816980000,"parent_id":"722ba1ef-e17a-4175-90c6-dd123ddf11d4","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"722ba1ef-e17a-4175-90c6-dd123ddf11d4":{"role":"editor","value":{"id":"722[...]
- request:
    method: post
    uri: https://www.notion.so/api/v3/loadPageChunk
    body:
      encoding: UTF-8
      string: '{"pageId":"9211601a-9016-484a-8313-f54a459a5a2a","limit":30,"cursor":{"stack":[]},"chunkNumber":0,"verticalColumns":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-User-Id:
      - e5b8637d-32a4-4597-8492-652c46372480
      Etag:
      - W/"1a29-LVJhBi2FD3mqcWusPXTfEh+cgwk"
    body:
      encoding: UTF-8
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"9211601a-9016-484a-8313-f54a459a5a2a":{"role":"editor","value":{"id":"9211601a-9016-484a-8313-f54a459a5a2a","version":34,"type":"page","properties":{"JcMG":[["http://steve.com",[["a","http://steve.com"]]]],"_WKf":[["23"]],"title":[["Steve"]]},"created_time":1621809983877,"last_edited_time":1621810020000,"parent_id":"b12633f5-5288-4fd6-b7c9-e726780fa287","pare[...]
- request:
    method: post
    uri: https://www.notion.so/api/v3/getBacklinksForBlock
    body:
      encoding: UTF-8
      string: '{"blockId":"9211601a-9016-484a-8313-f54a459a5a2a"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-User-Id:
      - e5b8637d-32a4-4597-8492-652c46372480
      Etag:
      - W/"163a-8Fgf9ShtLypKTwDdHAfENQGVU7c"
    body:
      encoding: UTF-8
      string: '{"backlinks":[],"inaccessibleBacklinkCount":0,"recordMap":{"block":{"9211601a-9016-484a-8313-f54a459a5a2a":{"role":"editor","value":{"id":"9211601a-9016-484a-8313-f54a459a5a2a","version":34,"type":"page","properties":{"JcMG":[["http://steve.com",[["a","http://steve.com"]]]],"_WKf":[["23"]],"title":[["Steve"]]},"created_time":1621809983877,"last_edited_time":1621810020000,"parent_id":"b12633f5-5288-4fd6-b7c9-e726780fa287","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c[...]
[...]
