---
http_interactions:
- request:
    method: post
    uri: https://www.notion.so/api/v3/getSpaces
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com
        https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com
        js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com
        https://www.googletagmanager.com https://x.clearbitjs.com; con[...]
- request:
    method: post
    uri: https://www.notion.so/api/v3/loadPageChunk
    body:
      encoding: UTF-8
      string: '{"pageId":"8d367ce1-db33-4367-8088-243c877c2954","limit":30,"cursor":{"stack":[]},"chunkNumber":0,"verticalColumns":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.c[...]
- request:
    method: post
    uri: https://www.notion.so/api/v3/getBacklinksForBlock
    body:
      encoding: UTF-8
      string: '{"blockId":"8d367ce1-db33-4367-8088-243c877c2954"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01[...]
[...]
- request:
    method: post
    uri: https://www.notion.so/api/v3/loadPageChunk
    body:
      encoding: UTF-8
      string: '{"pageId":"722ba1ef-e17a-4175-90c6-dd123ddf11d4","limit":30,"cursor":{"stack":[[{"table":"block","id":"722ba1ef-e17a-4175-90c6-dd123ddf11d4","index":29}],[{"table":"block","id":"bf826320-91de-4371-a485-49ecae52a1a4","index":0}]]},"chunkNumber":1,"verticalColumns":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude[...]
[...]
