---
http_interactions:
- request:
    method: post
    uri: https://www.notion.so/api/v3/getSpaces
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6b-asbKAYvInqnrrAtvlAVUgXvFs5s"
    body:
      encoding: UTF-8
      string: '{"errorId":"2a760537-ff42-40b9-94e8-0b025baa1fb7","name":"UnauthorizedError","message":"Token
        is invalid."}'
  recorded_at: Fri, 17 Mar 2023 04:25:23 GMT
- request:
    method: post
    uri: https://www.notion.so/api/v3/getSpaces
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17e9-hNZ+Eq2+rfajk2mMKjnusvnCLFs"
    body:
      encoding: UTF-8
      string: '{"e5b8637d-32a4-4597-8492-652c46372480":{"notion_user":{"e5b8637d-32a4-4597-8492-652c46372480":{"role":"editor","value":{"id":"e5b8637d-32a4-4597-8492-652c46372480","version":4,"email":"elliot.winkler+notion-capture@gmail.com","given_name":"Elliot","family_name":"Winkler","onboarding_completed":true,"name":"Elliot
        Winkler"}}},"user_root":{"e5b8637d-32a4-4597-8492-652c46372480":{"role":"editor","value":{"id":"e5b8637d-32a4-4597-8492-652c46372480","version":3,"space_views":["b83a41ee-4a51-4784-aad8-a2ff0ae16163"],"space_view_pointers":[{"id":"b83a41ee-4a51-4784-aad8-a2ff0ae16163","table":"space_view","spaceId":"9292b46f-54ab-41db-b39d-17436d8f8f14"}]}}},"user_settings":{"e5b8637d-32a4-4597-8492-652c46372480":{"role":"editor","value":{"id":"e5b8637d-32a4-4597-8492-652c46372480","version":6,"settings":{"type":"personal","locale":"en-US","persona":"unfilled","team_role":"unfilled","time_zone":"America/Denver","signup_time":1620017141138,"preferred_locale":"en-US","used_desktop_web_app":true,"preferred_locale_origin":"legacy"}}}},"space_view":{"b83a41ee-4a51-4784-aad8-a2ff0ae16163":{"role":"editor","value":{"id":"b83a41ee-4a51-4784-aad8-a2ff0ae16163","version":13,"space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14","parent_id":"e5b8637d-32a4-4597-8492-652c46372480","parent_table":"user_root","alive":true,"notify_mobile":true,"notify_desktop":true,"notify_email":true,"visited_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"sidebar_hidden_templates":["7e89f436-7aac-4f66-b0a6-6e65ec868d2a","88c9c2b0-d732-4342-8963-0580a4725571","ba43b46e-4ad3-47f7-95f0-58a3ba01476f","2dddc8c5-a711-4aa2-b5b3-ff952a49bcfa","b7572331-51ab-4ed5-a931-5a7d34b08bf0"],"created_getting_started":true,"created_onboarding_templates":true,"joined":true}}},"space":{"9292b46f-54ab-41db-b39d-17436d8f8f14":{"role":"editor","value":{"id":"9292b46f-54ab-41db-b39d-17436d8f8f14","version":45,"name":"Test
        Notion for notion-capture","permissions":[{"role":"editor","type":"user_permission","user_id":"e5b8637d-32a4-4597-8492-652c46372480"}],"beta_enabled":false,"pages":["722ba1ef-e17a-4175-90c6-dd123ddf11d4","f124cfbb-fcc5-4129-9bc2-fdad0b135fe1"],"created_time":1620017165450,"last_edited_time":1628899200000,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","plan_type":"personal","invite_link_enabled":true,"subscription_tier":"free"}}},"block":{"722ba1ef-e17a-4175-90c6-dd123ddf11d4":{"role":"editor","value":{"id":"722ba1ef-e17a-4175-90c6-dd123ddf11d4","version":66,"type":"page","properties":{"title":[["Test
        page"]]},"content":["483d525b-cba6-4bdb-8186-01c4d6e00bee","7ff62e3e-9299-4909-b970-6934358d75f6","5b90ba9c-a3a0-40fe-888e-2b959b93ec27","77dfebcc-38c4-47dd-854a-e2e97689e267","0a3f2184-3980-4439-b60c-f666af3eefed","1036c7b3-9df5-4023-8024-813b263d3666","2806e26b-a025-4edd-a011-60d80a66124e","77eafb0f-5099-4426-abfb-9d793f8fdfbc","ab149808-a0ac-47f6-a5f8-721c7337d60d","8b69445d-7391-4b1d-ad7c-efa58ec8dce4","6e9fff9e-1888-4e1f-a4ba-eda709143bd5","af89b008-da3c-4813-bdaf-b45cab2f056e","f1e8cb34-b658-49e4-92ba-e6e442[...]
- request:
    method: post
    uri: https://www.notion.so/api/v3/loadPageChunk
    body:
      encoding: UTF-8
      string: '{"pageId":"722ba1ef-e17a-4175-90c6-dd123ddf11d4","limit":30,"cursor":{"stack":[]},"chunkNumber":0,"verticalColumns":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-User-Id:
      - e5b8637d-32a4-4597-8492-652c46372480
      Etag:
      - W/"5efd-jGIDanhFXK7kkQeq3WMHk3Jl7RA"
    body:
      encoding: UTF-8
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"722ba1ef-e17a-4175-90c6-dd123ddf11d4":{"role":"editor","value":{"id":"722ba1ef-e17a-4175-90c6-dd123ddf11d4","version":66,"type":"page","properties":{"title":[["Test
        page"]]},"content":["483d525b-cba6-4bdb-8186-01c4d6e00bee","7ff62e3e-9299-4909-b970-6934358d75f6","5b90ba9c-a3a0-40fe-888e-2b959b93ec27","77dfebcc-38c4-47dd-854a-e2e97689e267","0a3f2184-3980-4439-b60c-f666af3eefed","1036c7b3-9df5-4023-8024-813b263d3666","2806e26b-a025-4edd-a011-60d80a66124e","77eafb0f-5099-4426-abf[...]
- request:
    method: post
    uri: https://www.notion.so/api/v3/getBacklinksForBlock
    body:
      encoding: UTF-8
      string: '{"blockId":"722ba1ef-e17a-4175-90c6-dd123ddf11d4"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-User-Id:
      - e5b8637d-32a4-4597-8492-652c46372480
      Etag:
      - W/"b5b-hKRkM90Wxvk0+oJpqE+KCBNMUyI"
    body:
      encoding: UTF-8
      string: '{"backlinks":[],"inaccessibleBacklinkCount":0,"recordMap":{"block":{"722ba1ef-e17a-4175-90c6-dd123ddf11d4":{"role":"editor","value":{"id":"722ba1ef-e17a-4175-90c6-dd123ddf11d4","version":66,"type":"page","properties":{"title":[["Test
        page"]]},"content":["483d525b-cba6-4bdb-8186-01c4d6e00bee","7ff62e3e-9299-4909-b970-6934358d75f6","5b90ba9c-a3a0-40fe-888e-2b959b93ec27","77dfebcc-38c4-47dd-854a-e2e97689e267","0a3f2184-3980-4439-b60c-f666af3eefed","1036c7b3-9df5-4023-8024-813b263d3666","2806e26b-a025-4edd-a011-60d80a66124e","77eafb0f[...]
[...]
- request:
    method: post
    uri: https://www.notion.so/api/v3/loadPageChunk
    body:
      encoding: UTF-8
      string: '{"pageId":"d0bc03ce-e9c0-467e-8bba-e9814399c423","limit":30,"cursor":{"stack":[]},"chunkNumber":0,"verticalColumns":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-User-Id:
      - e5b8637d-32a4-4597-8492-652c46372480
      Etag:
      - W/"12fc-PtkpcNf1Gm5TX0Z7BtYDMxhg6fs"
    body:
      encoding: UTF-8
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"d0bc03ce-e9c0-467e-8bba-e9814399c423":{"role":"editor","value":{"id":"d0bc03ce-e9c0-467e-8bba-e9814399c423","version":41,"type":"page","properties":{"title":[["Test
        subsubpage"]]},"content":["b6b55522-7c8f-4570-9bd6-d4d467cc269d"],"created_time":1620968040000,"last_edited_time":1621816980000,"parent_id":"0ecc4427-3c80-4b97-9e70-9f35ac4c5405","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8[...]
[...]
- request:
    method: post
    uri: https://www.notion.so/api/v3/queryCollection
    body:
      encoding: UTF-8
      string: '{"collectionId":"b12633f5-5288-4fd6-b7c9-e726780fa287","collectionViewId":"ce55eba9-ab50-4f33-ac0d-df6ba7132973","query":{},"loader":{"type":"reducer","reducers":{"collection_group_results":{"type":"results","limit":50}},"searchQuery":"","userTimeZone":"America/Denver"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-User-Id:
      - e5b8637d-32a4-4597-8492-652c46372480
    body:
      encoding: UTF-8
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["9211601a-9016-484a-8313-f54a459a5a2a","42c4bd06-12ee-4808-9624-1e7e9e7f3a5f","2ec32fd1-d30a-4ae9-a79c-d4cc6aa0266a"],"hasMore":false}},"sizeHint":3},"collectionIds":["b12633f5-5288-4fd6-b7c9-e726780fa287"],"recordMap":{"block":{"9211601a-9016-484a-8313-f54a459a5a2a":{"role":"editor","value":{"id":"9211601a-9016-484a-8313-f54a459a5a2a","version":34,"type":"page","properties":{"JcMG":[["http://steve.com",[["a","http://steve.com"]]]],"_WKf":[["23"]],"title":[["Steve"]]},"created_time":1621809983877,"last_edited_time":1621810020000,"parent_id":"b12633f5-5288-4fd6-b7c9-e726780fa287","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"42c4bd06-12ee-4808-9624-1e7e9e7f3a5f":{"role":"editor","value":{"id":"42c4bd06-[...]
- request:
    method: post
    uri: https://www.notion.so/api/v3/loadPageChunk
    body:
      encoding: UTF-8
      string: '{"pageId":"9211601a-9016-484a-8313-f54a459a5a2a","limit":30,"cursor":{"stack":[]},"chunkNumber":0,"verticalColumns":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-User-Id:
      - e5b8637d-32a4-4597-8492-652c46372480
      Etag:
      - W/"1a29-LVJhBi2FD3mqcWusPXTfEh+cgwk"
    body:
      encoding: UTF-8
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"9211601a-9016-484a-8313-f54a459a5a2a":{"role":"editor","value":{"id":"9211601a-9016-484a-8313-f54a459a5a2a","version":34,"type":"page","properties":{"JcMG":[["http://steve.com",[["a","http://steve.com"]]]],"_WKf":[["23"]],"title":[["Steve"]]},"created_time":1621809983877,"last_edited_time":1621810020000,"parent_id":"b12633f5-5288-4fd6-b7c9-e726780fa287","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"227fd83a-546c-48f2-abde-14a08c43faae":{"role":"editor","value":{"id":"227fd83a-546c-48f2-abde-14a08c43faae","version":17,"type":"collection_view","view_ids":["ce55eba9-ab50-4f33-ac0d-df6ba7132973","80482a7b-195b-4665-82f1-0a7825e77476"],"collection_id":"b12633f5-5288-4fd6-b7c9-e726780fa287","format":{"collection_pointer":{"id":"b12633f5-5288-4fd6-b7c9-e726780fa287","table":"collection","spaceId":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"created_time":1621809983877,"last_edited_time":1621831680000,"parent_id":"0ecc4427-3c80-4b97-9e70-9f35ac4c5405","parent_table":"block","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}[...]
[...]
- request:
    method: post
    uri: https://www.notion.so/api/v3/loadPageChunk
    body:
      encoding: UTF-8
      string: '{"pageId":"f124cfbb-fcc5-4129-9bc2-fdad0b135fe1","limit":30,"cursor":{"stack":[]},"chunkNumber":0,"verticalColumns":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-User-Id:
      - e5b8637d-32a4-4597-8492-652c46372480
      Etag:
      - W/"b3e-znA8GvUACSSggWW3/N1zlopfRpY"
    body:
      encoding: UTF-8
      string: '{"cursor":{"stack":[]},"recordMap":{"block":{"f124cfbb-fcc5-4129-9bc2-fdad0b135fe1":{"role":"editor","value":{"id":"f124cfbb-fcc5-4129-9bc2-fdad0b135fe1","version":19,"type":"collection_view_page","view_ids":["5a900c7f-a495-4a29-b403-c8ae0356bcaa"],"collection_id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","format":{"collection_pointer":{"id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","table":"collection","spaceId":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"permissions":[{"role":"editor","type":"user_permission","user_id":"e5b8637d-32a4-4597-8492-652c46372480"}],"created_time":162181013[...]
[...]
- request:
    method: post
    uri: https://www.notion.so/api/v3/queryCollection
    body:
      encoding: UTF-8
      string: '{"collectionId":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","collectionViewId":"5a900c7f-a495-4a29-b403-c8ae0356bcaa","query":{},"loader":{"type":"reducer","reducers":{"collection_group_results":{"type":"results","limit":50}},"searchQuery":"","userTimeZone":"America/Denver"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-User-Id:
      - e5b8637d-32a4-4597-8492-652c46372480
    body:
      encoding: UTF-8
      string: '{"result":{"type":"reducer","reducerResults":{"collection_group_results":{"type":"results","blockIds":["3f98ce74-3f5d-42bd-aebd-7483b04e2a55","f4dd3fd6-e2d9-4522-841d-687c9097437e","e703d132-1f20-4a0c-8959-b4077dd27acb","9254fbf6-9b7d-4772-97f9-60505d75a464"],"hasMore":false}},"sizeHint":4},"collectionIds":["516b47c8-a1ab-48a0-a17b-1dafd3e06009"],"recordMap":{"block":{"3f98ce74-3f5d-42bd-aebd-7483b04e2a55":{"role":"editor","value":{"id":"3f98ce74-3f5d-42bd-aebd-7483b04e2a55","version":53,"type":"page","properties":{"VXY@":[["‣",[["d",{"type":"date","start_date":"2021-05-11"}]]]],"{jh?":[["bigkittylitter@gmail.com",[["a","bigkittylitter@gmail.com"]]]],"title":[["bigkittylitter"]]},"content":["730ea086-d3b8-40e8-ae61-e1a3caf8a061"],"created_time":1621810133775,"last_edited_time":1628899140000,"parent_id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"f4dd3fd6-e2d9-4522-841d-687c9097437e":{"role":"editor","value":{"id":"f4dd3fd6-e2d9-4522-841d-687c9097437e","version":45,"type":"page","properties":{"VXY@":[["‣",[["d",{"type":"date","start_date":"2021-05-08"}]]]],"{jh?":[["applesauceman@yahoo.com",[["a","applesauceman@yahoo.com"]]]],"title":[["applesauceman"]]},"created_time":1621810133775,"last_edited_time":1621810200000,"parent_id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","parent_table":"collection","alive":true,"created_by_table":"notion_user","created_by_id":"e5b8637d-32a4-4597-8492-652c46372480","last_edited_by_table":"notion_user","last_edited_by_id":"e5b8637d-32a4-4597-8492-652c46372480","space_id":"9292b46f-54ab-41db-b39d-17436d8f8f14"}},"e703d132-1f20-4a0c-8959-b4077dd27acb":{"role":"editor","value":{"id":"e703d132-1f20-4a0c-8959-b4077dd27acb","version":61,"type":"page","properties":{"VXY@":[["‣",[["d",{"type":"date","start_date":"2021-03-10"}]]]],"{jh?":[["jonesin4forsox@juno.com",[["a","jonesin4forsox@juno.com"]]]],"title":[["jonesin4sox"]]},"content":["4233bc2d-1202-4e77-a500-c0d6fc3eb1b4"],"created_time":1621810133775,"last_edited_time":1628899140000,"parent_id":"516b47c8-a1ab-48a0-a17b-1dafd3e06009","parent_table":"collection","alive":true,"created_by_table":"n[...]
[...]
